:root {
  --font-mono: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;

  background: #010a13;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: system-ui;
  font-size: 18px;
  line-height: 32px;

  margin: 0;
  color: rgb(1000, 1000, 1000);
  max-width: 1024px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    font-size: 15px;
    line-height: 24px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  margin: 40px 0;
  font-size: 64px;
  line-height: 70px;
  font-weight: bold;

  @media (max-width: 1024px) {
    margin: 24px 0;
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: 768px) {
    font-size: 38px;
    line-height: 38px;
  }

  @media (max-width: 400px) {
    font-size: 32px;
    line-height: 32px;
  }
}

p {
  margin: 24px 0;

  @media (max-width: 1024px) {
    margin: calc(var(--base) * 0.75) 0;
  }
}

a {
  color: currentColor;

  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.7;
    outline: none;
  }
}

svg {
  vertical-align: middle;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 45px;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: 400px) {
    padding: 24px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    h1 {
      text-align: center;
    }
  }

  .links {
    display: flex;
    align-items: center;
    gap: 12px;

    a {
      text-decoration: none;
      padding: 0.25rem 0.5rem;
      border-radius: 4px;
    }

    .admin {
      color: rgb(0, 0, 0);
      background: rgb(1000, 1000, 1000);
      border: 1px solid rgb(0, 0, 0);
    }

    .docs {
      color: rgb(1000, 1000, 1000);
      background: rgb(0, 0, 0);
      border: 1px solid rgb(1000, 1000, 1000);
    }
  }

  .footer {
    display: flex;
    align-items: center;
    gap: 8px;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 6px;
    }

    p {
      margin: 0;
    }

    .codeLink {
      text-decoration: none;
      padding: 0 0.5rem;
      background: rgb(60, 60, 60);
      border-radius: 4px;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 20px;
  border-bottom: 1px solid #39b54a;

  @media (max-width: 768px) {
    padding: 1px 10px;
  }

  .navLogo {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: .25rem;

    img {
      display: block;
      margin: 1rem 0;
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;

    @media (max-width: 480px) {
      gap: 16px;
    }

    li {
      a {
        text-decoration: none;
        color: currentColor;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.hero{
  padding: 60px 20px;
  color: #ffffff;
  position:relative;
  margin: 1rem;
  text-align: center;

  h1{
    font-size: 48px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  h4{
    width: 65%;
    margin: 0 auto 30px auto;
    font-weight: normal;
  }
  img{
    position:absolute;
    top:-2rem;
    left:0;
    z-index:-1;
  }
}


.singleAudioPlayer{
  margin: 0 auto;
  padding: 1rem 4rem;
  border: 1px solid #5f805c;
  background: rgba(1, 16, 34, 0.6);
  backdrop-filter: blur(10px);
  width: 65%;
  border-radius: 15px;

  audio{
    width: 100%;
    outline:none;
    background: transparent;
  }

  .producerInfo{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .producerImage{
    flex-grow: 1;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ffffff;
  }
  .producerText{
    flex-grow: 2.5;
  }

  .singleAudioControls{
    display: flex;
    gap: .25rem;
    width: 100%;
  }

  .progressBarContainer{
    width: 100%;
  }
  .trackSlider{
    appearance: none;
    width: 100%;
    height: .5rem;
    background: #e5fce8;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 0;
    transition: none;
  }

  .trackSlider::-webkit-slider-thumb, .trackSlider::-moz-range-thumb {
    appearance: none;
    width: .01rem;
    border: none;
    cursor: pointer;
    box-shadow: -400px 0 0 400px #8dc63f;
  }

  .timeIndicators{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-top: -.75rem;
  }

  .playBtn{
    cursor: pointer;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;

    span{
      position: absolute;
      top: 50%;
      left: .4rem;
      transform: translateY(-50%);
      width: 10px;
      height: 1.75rem;
      background-color: #bfd6cb;
      transition: all 0.5s ease;
    }

    span:nth-child(2){
      left: auto;
      right: .4rem;
    }

    &.pause span:nth-child(2){
      transform: translateY(-50%) scaleY(0);
    }

    &.pause span:nth-child(1){
      width: 1.5rem;
      height: 1.75rem;
      clip-path: polygon(0 0, 100% 50%, 0 100%);
      left: .5rem;
    }
  }
}