:root {
  --font-mono: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  line-height: 32px;

  background: #010a13;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: system-ui;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  align-content: center;
  flex-direction: column;
  margin: 0;
  color: rgb(1000, 1000, 1000);
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1024px) {
    font-size: 15px;
    line-height: 24px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


a {
  color: currentColor;

  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.7;
    outline: none;
  }
}

svg {
  vertical-align: middle;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 45px;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: 400px) {
    padding: 24px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    h1 {
      text-align: center;
    }
  }

  .links {
    display: flex;
    align-items: center;
    gap: 12px;

    a {
      text-decoration: none;
      padding: 0.25rem 0.5rem;
      border-radius: 4px;
    }

    .admin {
      color: rgb(0, 0, 0);
      background: rgb(1000, 1000, 1000);
      border: 1px solid rgb(0, 0, 0);
    }

    .docs {
      color: rgb(1000, 1000, 1000);
      background: rgb(0, 0, 0);
      border: 1px solid rgb(1000, 1000, 1000);
    }
  }

  .footer {
    display: flex;
    align-items: center;
    gap: 8px;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 6px;
    }

    p {
      margin: 0;
    }

    .codeLink {
      text-decoration: none;
      padding: 0 0.5rem;
      background: rgb(60, 60, 60);
      border-radius: 4px;
    }
  }
}

.containContent{ 
  width: 90%;
  margin: 0 auto;
}


nav{
  margin: 0 auto;
  background: linear-gradient(0deg,rgba(13, 28, 48, 1) 0%, rgb(1, 5, 8) 100%);
  width: 100%;
  display: flex;
  align-items: center;

  .nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 2em;
    border-bottom: 1px solid #39b54a;
    letter-spacing: .125rem;

    @media (max-width: 768px) {
      padding: 1px 10px;
    }

    .navLogo {
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: .25rem;

      img {
        display: block;
        margin: 1rem 0;
      }
    }

    ul {
      list-style: none;
      display: flex;
      gap: 24px;
      padding: 0;


      @media (max-width: 480px) {
        gap: 16px;
      }
    
      li{
        position: relative;
        padding-right: 2em;
      }

      li:not(:last-child)::after{
        content: "|";
        position: absolute;
        right: 0;
        top:50%;
        transform: translateY(-50%)
      }
    
    }
  }
  a {
    font-size: .75rem;
    text-decoration: none;
    color: currentColor;
    text-transform: uppercase;
    transition: .3s ease-in-out;

    &:hover {
      color:#39b54a;
    }
  }
  .navProfileLink{
    display: flex;
  }
  .navLogin{
    display: flex;
    align-items: center;
    gap:1.4em;
  }
}

.CTABtn{
  background: #39b54a;
  padding: .5em 1.5em;
  border-radius: .5em;
  color: #081829;
  font-weight: bold;
  font-size: .75rem;
  letter-spacing: normal;
  text-decoration: none;
  box-shadow: inset0 0 0 0px #39b54a;
  transition: .3s ease-in-out;
  text-transform: uppercase;
   
  &:hover{
      color: #39b54a;
      background: #39b54a20;
      box-shadow: inset 0 0 0 1px #39b54a;
      letter-spacing: normal;
    }
}

.pageConent{
  display:flex;
  justify-content: center;
  width: 100%;
}


.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  position:relative;
  text-align: center;
  padding-bottom: 3em;

  h1{
    padding-top: 1em;
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  h3{
    font-weight: 600;
    width: 60%;
    font-weight: 100;
    font-size: 18px;
    font-weight: 400;
  }
  img{
    position: absolute;
    top:-6rem;
    z-index:-99;
    width: 75%;
  }
}


.singleAudioPlayer{
  position: relative;
  width: 512px;
  height: 332px;
  margin: 0 auto;
  
  audio{
    width: 100%;
    outline:none;
    background: transparent;
  }

  .trackInfo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #010a13;
    width: 400px;
    height: 65px;
    gap: 1em;
    position: absolute;
    top: 35px;
    left: 57px;
    transform: rotate(-3deg);

    p{
      margin: 0;
    }

  }

  .cassette{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .singleAudioControls{
    position: relative;

  }

  .playPauseContainer{
    position: absolute;
    top: 128px;
    left:235px;
  }

  .progressBarContainer{
    width: 23em;
    position:absolute;
    top: 196px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .2em;
  }
  .trackSlider{
    appearance: none;
    width: 85%;
    height: 1rem;
    border: #39b54a solid 3px;
    background: #e5fce8;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 0;
    transition: none;
  }

  .trackSlider::-webkit-slider-thumb, .trackSlider::-moz-range-thumb {
    appearance: none;
    width: .01rem;
    border: none;
    cursor: pointer;
    box-shadow: -400px 0 0 400px #8dc63f;
  }

  .timeIndicators{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 600;
    color: #010a13;
  }


  .playBtn{
    cursor: pointer;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;

    span{
      position: absolute;
      top: 50%;
      left: .5rem;
      transform: translateY(-50%);
      width: 10px;
      height: 1.75rem;
      background-color: #39b54a;
      transition: all 0.5s ease;
    }

    span:nth-child(2){
      left: auto;
      right: .4rem;
    }

    &.pause span:nth-child(2){
      transform: translateY(-50%) scaleY(0);
    }

    &.pause span:nth-child(1){
      width: 1.5rem;
      height: 1.75rem;
      clip-path: polygon(0 0, 100% 50%, 0 100%);
      left: .5rem;
    }
  }

  .downloadBtn{
    font-weight: 900;
    position: absolute;
    top: 250px;
    left: 93px;
    padding: 1.25rem 1.75rem ;
    text-decoration: none;
    font-size: 1.6rem;
    color: #3e424e;
    transition: .3s ease-in-out;
    text-shadow: 0px 0px 0px #11151e;
  
    &:hover{
      text-shadow: 4px 4px 0px #11151e;
    }
  }
}